.header {
  background-color: #1e1e1e;
  padding: 10px 20px;
  color: #90caf9;
  border-bottom: 2px solid #252525;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

#logo {
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
  color: white;
}

#credits-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}

#credits-button:hover {
  transform: scale(105%)
}

#credits-button:active {
  background-color: #dfdfdf;
  transform: scale(95%);
}

#sign-out-button {
  background-color: #e21515;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: medium;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}

#sign-out-button:hover {
  transform: scale(105%);
}

#sign-out-button:active {
  background-color: #b71010;
  transform: scale(95%);
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
