.main_content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-size: larger;
}

.welcome-msg {
  font-size: 24px;
  color: white;
  text-align: center;
}
